<mat-card>
  <mat-card-header>

    <alm-alumni-unregistred-filter (formChanged)="filterChange($event)"></alm-alumni-unregistred-filter>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <ng-container *ngIf="unregistredAlumni$ | async as alumni; else isLoading">
        <alm-alumni-unregistered-card *ngFor="let alm of alumni" [alm]="alm">
        </alm-alumni-unregistered-card>
      </ng-container>
      <ng-template #isLoading>
        <div class="spinner">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-template>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
