<mat-expansion-panel
  [matBadge]="alm.alumni_status"
  [matBadgeHidden]="alm.alumni_status === inviteStatus.notInvited"
  matBadgePosition="before"
  [matBadgeColor]="alm.alumni_status | inviteStatusColor"
  class="alumni-unregistired-card"
  #panel
>
  <mat-expansion-panel-header
    [collapsedHeight]="'100px'"
    [expandedHeight]="'100px'"
    class="alumni-unregistired-card__header"
  >
    <mat-panel-title>
      <alm-alumni-card [alumni]="alm">
      </alm-alumni-card>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="alumni-unregistired-card__actions">
    <div class="alumni-unregistired-card__actions-invite-link">
      <button
        mat-flat-button
        color="primary"
        (click)="generateInviteLink(alm.id)"
        [disabled]="isLoading"
      >
        Згенерувати запрошення
        <mat-icon>link</mat-icon>
      </button>
      <div *ngIf="link" class="alumni-unregistired-card__invite-link">
        <a [href]="hostUrl + 'sign-up/' + link">{{ hostUrl + 'sign-up/' + link }}</a>
      </div>
    </div>
    <div class="alumni-unregistired-card__actions-buttons">
      <button
        mat-raised-button
        color="warn"
        (click)="updateAlumniStatus(alm.id + '', inviteStatus.rejected)"
        [disabled]="isLoading"
      >
        Запрошення відхилено
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="updateAlumniStatus(alm.id + '', inviteStatus.noResponse)"
        [disabled]="isLoading"
      >
        Запрошення без відповіді
      </button>
      <a
        target="_blank"
        rel="noopener noreferrer"
        [href]="
          'http://crm.usic.org.ua/web#id=' +
          alm.id +
          '&action=129&model=res.partner&view_type=form&cids=&menu_id=100'
        "
      >
        <button mat-flat-button color="secondary">
          Odoo profile
        </button>
      </a>
    </div>
  </div>
</mat-expansion-panel>
