<div class="alumni-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        class="alumni-card__image"
        [src]="
          alumni.image_1920
            ? 'data:image/png;base64,' + alumni.image_1920
            : '/assets/icons/userpic.svg'
        "
        alt="alumni profile image"
      />
    </div>
    <div class="alumni-card__main-info">
      <mat-card-title
        ><a>{{ alumni.name }}</a></mat-card-title
      >
      <mat-card-subtitle>Посада: {{ alumni.function ? alumni.function : '' }}</mat-card-subtitle>
      <mat-card-subtitle>Email: {{ alumni.email ? alumni.email : '' }}</mat-card-subtitle>
    </div>

    <div class="alumni-card__side-info">
      <mat-card-subtitle>
        Бакалавр:
        <strong>{{ alumni.bachelor_faculty ? alumni.bachelor_faculty : 'Не вказано' }} </strong
        >{{ alumni.bachelor_speciality ? alumni.bachelor_speciality : 'Не вказано' }}
        {{ alumni.bachelor_year_in ? alumni.bachelor_year_in : '^' }} -
        {{ alumni.bachelor_year_out ? alumni.bachelor_year_out : '^' }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Магістр: <strong>{{ alumni.master_faculty ? alumni.master_faculty : 'Не вказано' }} </strong
        >{{ alumni.master_speciality ? alumni.master_speciality : 'Не вказано' }}
        {{ alumni.master_year_in ? alumni.master_year_in : '^' }} -
        {{ alumni.master_year_out ? alumni.master_year_out : '^' }}
      </mat-card-subtitle>
    </div>
  </mat-card-header>
</div>
