<div class="sign-up">
  <div class="sign-up__content">
    <ng-container *ngIf="!isFormSend; else confirm">
      <h1>Дякуємо, що вирішили долучитись до спільноти випускників НаУКМА</h1>
      <h2>
        Для реєстрації введіть свою електронну адресу та пароль
      </h2>
      <mat-card class="sign-up__form">
        <alm-form-sign-up [formGroup]="signUpForm" (submittedForm)="signUp($event)">
        </alm-form-sign-up>
      </mat-card>
    </ng-container>
  </div>
  <ng-template #confirm>
    <h1>Підтвердіть свою електронну адресу</h1>
    <h2>
      Ми надіслали лист для підтвердження вашої електронної адреси. Перейдіть за посиланням в листі
      щоб продовжити реєстрацію
    </h2>
  </ng-template>
</div>
