<mat-card class="alumni-profile">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        class="alumni-profile__image"
        [src]="alumni.image_1920 ? alumni.image_1920 : '/assets/icons/userpic.svg'"
        alt="alumni profile image"
      />
    </div>
    <mat-card-title>
      {{ alumni.name }}
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{ alumni.function }}, {{ alumni.parent_id[1] }}</p>
      <p>{{ alumni.contact_country }}, {{ alumni.contact_city }}</p>
      <p><b>Дата народження</b> {{ alumni.birth_date }}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <h3>Контакти</h3>
      <div row>
        <div [col]="4">
          <p><strong>Телефон:</strong> {{ alumni.mobile }}</p>
          <p><strong>Telegram:</strong> {{ alumni.telegram }}</p>
        </div>
        <div [col]="8">
          <p><strong>Facebook:</strong> {{ alumni.facebook_link }}</p>
          <p><strong>Linkedin:</strong> {{ alumni.linkedin_link }}</p>
        </div>
      </div>
      <div row>
        <div [col]="12">
          <p><strong>Skype:</strong> {{ alumni.skype }}</p>
          <p><strong>Viber:</strong> {{ alumni.viber }}</p>
        </div>
      </div>
    </div>
    <div>
      <h3>Освіта</h3>
      <div row>
        <mat-checkbox
          [checked]="alumni.diploma_naukma"
          (click)="$event.preventDefault()"
          [disableRipple]="true"
          >Диплом НаУКМА</mat-checkbox
        >
      </div>
      <div [col]="12">
        <mat-checkbox
          [checked]="alumni.bachelor_degree"
          (click)="$event.preventDefault()"
          [disableRipple]="true"
          >Бакалаврська програма</mat-checkbox
        >
      </div>
      <div [col]="12">
        <div row>
          <div [col]="6">
            <p>{{ alumni.bachelor_faculty }}</p>
            <p>
              <i>{{ alumni.bachelor_speciality }}</i>
            </p>
          </div>
          <div [col]="6">
            <p>{{ alumni.bachelor_year_in }} - {{ alumni.bachelor_year_out }}</p>
          </div>
        </div>
      </div>
      <ng-container *ngIf="alumni.master_degree">
        <div [col]="12">
          <mat-checkbox
            [checked]="alumni.master_degree"
            (click)="$event.preventDefault()"
            [disableRipple]="true"
            >Магістерська програма</mat-checkbox
          >
        </div>
        <div [col]="12" *ngIf="alumni.master_degree">
          <div row>
            <div [col]="6">
              <p>{{ alumni.master_faculty }}</p>
              <p>
                <i>{{ alumni.master_faculty }}</i>
              </p>
            </div>
            <div [col]="6">
              <p>{{ alumni.master_year_in }} - {{ alumni.master_year_out }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
