<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Електронна пошта</mat-label>
      <input
        type="email"
        id="alumni-email"
        matInput
        [formControl]="email"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="email.errors">
        {{ email.errors['0'] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Пароль</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        id="alumni-password"
        matInput
        [formControl]="password"
        [errorStateMatcher]="matcher"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint>Використовуйте комбінацію з 7 або більше літер, цифр і символів</mat-hint>
      <mat-error *ngIf="password.errors">
        {{ password.errors['0'] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Повторіть пароль</mat-label>
      <input
        [type]="hideRetypedPassword ? 'password' : 'text'"
        id="alumni-password"
        matInput
        [formControl]="retypedPassword"
        [errorStateMatcher]="matcher"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideRetypedPassword = !hideRetypedPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hideRetypedPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.errors">
        {{ retypedPassword.errors['0'] }}
      </mat-error>
    </mat-form-field>
    <div class="full-width">
      <mat-checkbox [formControl]="allowShowContacts"
        >Я даю згоду на обробку своїх персональних даних</mat-checkbox
      >
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!formGroup.valid" type="submit" mat-raised-button color="primary">
      Зареструватись
    </button>
  </mat-card-actions>
</form>
