<div class="header" *ngIf="(isAuth$ | async) && !hideHeader">
  <div class="container">
    <div class="header__content">
      <div class="fw">
        <img class="header__logo" src="/assets/icons/logo.png" alt="naukma logo" />
        <h1>Спільнота випускників НаУКМА</h1>
      </div>

      <ng-container *ngIf="!(isOperator$ | async); else operator">
        <a
          class="sidenav__link"
          [routerLink]="['/alumni']"
          routerLinkActive="sidenav__link--active"
        >
          <button mat-button>Всі випускники</button></a
        >
        <a
          class="sidenav__link"
          [routerLink]="['alumni', 'groupmates']"
          routerLinkActive="sidenav__link--active"
        >
          <button mat-button>Мої одногрупники</button></a
        >
        <a
          class="sidenav__link"
          [routerLink]="['/profile']"
          routerLinkActive="sidenav__link--active"
        >
          <button mat-button>Мій профіль</button></a
        >
        <div *ngIf="user$ | async as alumni">
          {{ alumni.name }}
          <button mat-button (click)="logout()">Вийти</button>
        </div>
      </ng-container>
      <ng-template #operator>
        <div *ngIf="user$ | async as operator">
          {{ operator.username }} <small>({{ operator.is_admin ? 'Адмін' : 'Оператор' }})</small>
          <button mat-button (click)="logout()">Вийти</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <mat-drawer-container class="main">
    <mat-drawer class="sidenav" mode="side" opened> </mat-drawer>
    <mat-drawer-content class="main__content">

    </mat-drawer-content>
  </mat-drawer-container> -->
