.header {
  padding: 15px 0;
  &__content {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    font-size: 22px;
  }
  &__logo {
    height: 50px;
    margin-right: 10px;
  }
}
