alm-alumni-card {
  min-width: 90%;
}
.main {
  min-height: 90vh;
}
.sidenav {
  min-width: 200px;
  &__link {
    text-align: center;
    display: block;
    padding: 10px 0;
    &:hover {
      background-color: #ddd;
    }
    &--active {
      background: #ccc;
    }
  }
}

.mat-drawer-content {
  overflow: initial;
}
