<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="personalFormGroup" class="step">
    <form [formGroup]="personalFormGroup" class="form">
      <ng-template matStepLabel>Персональні дані</ng-template>
      <div row>
        <div [col]="8">
          <div row>
            <mat-form-field [col]="8">
              <mat-label>Прізвище Ім'я По-батькові</mat-label>
              <input matInput placeholder="" formControlName="fullName" required />
            </mat-form-field>
            <mat-form-field [col]="4">
              <mat-label>Дата народження</mat-label>
              <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" required />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Країна</mat-label>
              <mat-select formControlName="country" required>
                <mat-option *ngFor="let country of ['Україна']" [value]="country">{{
                  country
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Місто</mat-label>
              <input matInput placeholder="" formControlName="city" required />
            </mat-form-field>
          </div>
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Мобільний телефон</mat-label>
              <span matPrefix>+&nbsp;</span>
              <input
                matInput
                placeholder=""
                formControlName="mobile"
                required
                pattern="[0-9]{12}"
                name="phone"
                type="tel"
              />
              <mat-hint>+380503332211</mat-hint>
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Skype</mat-label>
              <input matInput placeholder="" formControlName="skype" />
            </mat-form-field>
          </div>
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Telegram</mat-label>
              <input matInput placeholder="" formControlName="telegram" />
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Viber</mat-label>
              <input matInput placeholder="" formControlName="viber" />
            </mat-form-field>
          </div>
        </div>
        <div [col]="4">
          <div class="form__image-wrapper">
            <img
              class="form__image"
              [src]="user.image_1920 ? user.image_1920 : '/assets/icons/userpic.svg'"
            />
            <input
              (change)="changeAvatar($event.target.files)"
              accept="image/*"
              formControlName="avatar"
              type="file"
              name="avatar"
            />
          </div>
        </div>
      </div>
      <div row>
        <mat-form-field [col]="10">
          <mat-label>Facebook</mat-label>
          <input matInput placeholder="" formControlName="facebook" />
        </mat-form-field>
      </div>
      <div row>
        <mat-form-field [col]="10">
          <mat-label>LinkedIn</mat-label>
          <input matInput placeholder="" formControlName="linkedIn" />
        </mat-form-field>
      </div>

      <div>
        <button color="primary" mat-flat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="educationFormGroup" class="step">
    <form [formGroup]="educationFormGroup" class="form">
      <ng-template matStepLabel>Освіта</ng-template>
      <div>
        <div row>
          <mat-checkbox formControlName="diplomaNaukma">Диплом НаУКМА</mat-checkbox>
        </div>
        <div [col]="12">
          <mat-checkbox formControlName="bachelor">Бакалаврська програма</mat-checkbox>
        </div>
        <div [col]="12" *ngIf="educationFormGroup.controls.bachelor.value">
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Факультет</mat-label>
              <mat-select formControlName="bachelorFaculty">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.bachelorFaculty.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let filter of facultyList" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Рік вступу</mat-label>
              <mat-select formControlName="bachelorEntryYear">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.bachelorEntryYear.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let filter of entryYears" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Спеціальність</mat-label>
              <mat-select formControlName="bachelorSpeciality">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.bachelorSpeciality.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let filter of specialityList" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Рік випуску</mat-label>
              <mat-select formControlName="bachelorFinishYear">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.bachelorFinishYear.value }}
                </mat-select-trigger>
                <mat-option>Немає</mat-option>
                <mat-option *ngFor="let filter of finishYears" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div [col]="12">
          <mat-checkbox formControlName="master">Магістерська програма</mat-checkbox>
        </div>
        <div [col]="12" *ngIf="educationFormGroup.controls.master.value">
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Факультет</mat-label>
              <mat-select formControlName="masterFaculty">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.masterFaculty.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let filter of facultyList" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Рік вступу</mat-label>
              <mat-select formControlName="masterEntryYear">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.masterEntryYear.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let filter of entryYears" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div row>
            <mat-form-field [col]="6">
              <mat-label>Спеціальність</mat-label>
              <mat-select formControlName="masterSpeciality">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.masterSpeciality.value }}
                </mat-select-trigger>
                <mat-option *ngFor="let filter of specialityList" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [col]="6">
              <mat-label>Рік випуску</mat-label>
              <mat-select formControlName="masterFinishYear">
                <mat-select-trigger>
                  {{ educationFormGroup.controls.masterFinishYear.value }}
                </mat-select-trigger>
                <mat-option>Немає</mat-option>
                <mat-option *ngFor="let filter of finishYears" [value]="filter">{{
                  filter
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <button class="form__button" color="primary" mat-flat-button matStepperPrevious>
          Назад
        </button>
        <button class="form__button" color="primary" mat-flat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]="socialFormGroup">
    <form [formGroup]="socialFormGroup">
      <ng-template matStepLabel>Соціальні мережі</ng-template>
      <div class="form__inputs-wrapper">
        <mat-form-field>
          <mat-label>Facebook</mat-label>
          <input matInput placeholder="" formControlName="facebook" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>LinkedIn</mat-label>
          <input matInput placeholder="" formControlName="linkedIn" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Skype</mat-label>
          <input matInput placeholder="" formControlName="skype" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telegram</mat-label>
          <input matInput placeholder="" formControlName="telegram" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Viber</mat-label>
          <input matInput placeholder="" formControlName="viber" />
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
  <mat-step [stepControl]="jobFormGroup" class="step">
    <form [formGroup]="jobFormGroup" class="form">
      <ng-template matStepLabel>Робота</ng-template>
      <div>
        <mat-form-field [col]="12">
          <mat-label>Компанія</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="jobFormGroup.controls.jobName"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let company of filteredCompanies | async" [value]="company.name">
              {{ company.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field [col]="12">
          <mat-label>Посада</mat-label>
          <input matInput placeholder="" formControlName="position" />
        </mat-form-field>
      </div>

      <div>
        <button class="form__button" color="primary" mat-flat-button matStepperPrevious>
          Назад
        </button>
        <button
          class="form__button"
          color="accent"
          mat-flat-button
          matStepperNext
          (click)="sendData()"
        >
          Надіслати дані
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Готово</ng-template>
    <h1>Вітаємо! Реєстрацію завершено!</h1>
  </mat-step>
</mat-horizontal-stepper>
