.form {
  &__image {
    width: 150px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    &-wrapper {
      input {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

mat-form-field {
  &:not(:last-child) {
    margin-right: 15px;
  }
}
