<div>
  <mat-form-field>
    <mat-label>Invite status</mat-label>
    <mat-select [formControl]="inviteStatusFilter" multiple>
      <mat-select-trigger>
        {{inviteStatusFilter.value ? inviteStatusFilter.value[0] : ''}}
        <span *ngIf="inviteStatusFilter.value?.length > 1" class="example-additional-selection">
          (+{{inviteStatusFilter.value.length - 1}} {{inviteStatusFilter.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let filter of inviteStatusList" [value]="filter">{{filter}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
